body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background: #fafafa;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.galeria {
  display: flex;
  flex-wrap: wrap; /*Wrap padrão do felx box, o outro tbm é o wrap reverse e o nowrap*/
  align-content: center; /* flex-start, flex-end, space-around entre outros */
  align-items: center;   /* Alinha os itens dentro de cada linha */
  justify-content: center; /* Flex start, flex end, center, space-between, space-around, space-evenly são tbm formas do flex box de dividir seus cards no conteiner pre definido*/
  gap: 20px;
  flex-direction: row; /*Direção padrão do Flex Box*/
  /*
  align-items:  Alinha os itens no eixo transversal, o padrão é o eixo vertical o stretch é o padrão os outros são flex-start: todas as linhas ficam no início do eixo transversal.
  flex-end: linhas no final do eixo transversal.
  center: centraliza todas as linhas.
  space-between: espaço igual entre as linhas, mas sem espaço nas bordas.
  space-around: espaço igual ao redor das linhas, incluindo bordas.
  */
  height: 500px;
  padding: 10px;
}

.card {
  flex: 1 1 300px;
  max-width: 300px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  display: block;
}

.card p {
  text-align: center;
  padding: 10px;
}